{{define "head"}}
<title>{{.Title}}</title>
{{end}}

{{define "body"}}
<main>
    <div class="wrapper">
        <div class="article">
            <div class="article-head">
                <div class="article-head-text">
                    <h1>{{.Title}}</h1>
                    <p>{{.Description}}</p>
                </div>
                {{if .ImgURL}}
                <div class="img-wrapper">
                    <img src="{{.ImgURL}}"/>
                </div>
                {{end}}
            </div>
            {{range .Blocks}}
            <div id="{{.ID}}">
                {{if eq .BlockType 1}}
                <h2>{{.TextBlock.Title}}</h2>
                <p>{{.TextBlock.Paragraph}}</p>
                {{end}}
                {{if eq .BlockType 2}}
                <div class="img-wrapper">
                    <img class="img" src="{{.ImgBlock.Img.ImgURL}}" alt="{{.ImgBlock.Img.Description}}"/>
                </div>
                {{end}}
                {{if eq .BlockType 3}}
                <div class="img-grid">
                    {{range .GalleryBlock.Images}}
                    <img src="{{.ImgURL}}" alt="{{.Description}}"/>
                    {{end}}
                </div>
                {{end}}
            </div>
            {{end}}
        </div>
    </div>
</main>
{{end}}