{{define "head"}}
<link rel="stylesheet" href="/static/css/elements/article-link.css">
<title>Malin Nilsson</title>
{{end}}

{{define "body"}}
<nav>
    <div class="nav-wrapper">
        <a href="/">Malin Nilsson</a>
        <div class="nav-menu">
            <a href="/inlägg">Inlägg</a>
            <a href="/exempel">Exempel</a>
        </div>
    </div>
</nav>
<main>
    <div class="wrapper">
        <h1>Alla artiklar</h1>
        {{range .}}
        <a class="article-link" href="/inlägg/{{.ID}}">
            <img src="{{.ImgURL}}"/>
            <h3>{{.Title}}</h3>
        </a>
        {{end}}
    </div>
</main>
{{end}}