{{define "head"}}
<link rel="stylesheet" href="/static/css/index.css">
<title>Malin Nilsson</title>
{{end}}

{{define "body"}}
<nav>
    <div class="nav-wrapper">
        <a href="/">Malin Nilsson</a>
        <div class="nav-menu">
            <a href="/inlägg">Inlägg</a>
            <a href="/exempel">Exempel</a>
        </div>
    </div>
</nav>
<main>
    <div class="wrapper">
        <div class="hero">
            <h1>Malin Nilsson</h1>
            <p>Det här är malins hemsida.</p>
        </div>
    </div>
</main>
{{end}}