img {
    max-width: 100%;
}

.img-wrapper {
    max-width: var(--container-sm);
    margin-inline: auto;
}

.img-grid {
    display: grid;
    gap: var(--spacing-2);
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}