.article-link {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: var(--spacing-2);
    border-radius: var(--radius-sm);
    margin-bottom: var(--spacing-4);
    background-color: white;
}

.article-link img {
    max-height: var(--spacing-9);
    margin-right: var(--spacing-4);
    border-radius: var(--radius-sm);
}

.article-link h3 {
    flex: 1;
}